<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/company">Company</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%- categoryid %></li>
  </ol>
</nav>




  <% if(typeof categoryById!='undefined' && categoryById.length>0) { %>
    <% categoryById.forEach(function(recipe,index) { %>
      <div class="row category_link_new">
        <div class="col-12 col-md-1"> <%- recipe.role %></div>
        <div class="col-12 col-md-4"> <%- recipe.name %></div>
        <div class="col-12 col-md-5"> <a href="mailto:<%- recipe.email %>"> <%- recipe.email %></a>  </div>
        <div class="col-12 col-md-2">
          <a href="/project/<%- recipe.id %>/view"><i style="font-size: x-large"; class="bi bi-eye-fill"></i></a>
          <span>|</span>
          <a href="/project/<%- recipe.id %>/download"><i style="font-size: x-large"; class="bi bi-file-earmark-arrow-down-fill"></i></a>
        </div>
      </div>
    <%}) %>
<% } %>


